*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
#brand{
    background-color: #FFEBEE;
    width: 100%;
    height: 80px;
    box-shadow: 0px 2px 5px #adabab;
}
#brand h1{
    padding-top: 20px;
    padding-left: 50px;
    font-size: 35px;
    color: #413839;
    letter-spacing: 3px;
}
#verification{
    background-color: #e9ebee;
    width: auto;
    height: 50vh;
}
#form{
    display: flex;
    justify-content: center;
    align-items: center;
}
.control{
    margin-top: 100px;
    border: solid;
    border-width: 1px;
    border-color: #c0bdbd;
    background-color: #ffffff;
    width: 500px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    overflow: hidden;
}
.control .header{
    font-weight: bold;
    font-size: 15px;
    letter-spacing: 1px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 30px;
    border-radius: 3px;
}
#msg{
    border: solid;
    border-width: 1px;
    border-color: red;
    background-color: rgba(255, 0, 0, 0.164);
    margin-top: 8px;
    margin-left: 20px;
    margin-right: 20px;
    padding: 10px;
    display: none;
}
#msg #error{
    font-weight: bold;
    font-size: 14px;
    color: #413839;
}
#msg #error1{
    font-size: 13px;
    color: #413839;
}
.control .contain{
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 60px;
    padding-right: 60px;
    text-align: justify;
    text-align-last: left;
    color: rgba(0, 0, 0, 0.795);
    font-size: 14px;
}
.control input{
    margin-left: 60px;
    padding-right: 90px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    font-size: 15px;
    margin-bottom: 25px;
    outline: none;
}
.control #search{
    position: relative;
    left: 100px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-weight: 550;
    outline: none;
    cursor: pointer;
}
.control #search{
    border-color: #08080825;
    border-width: 1px;
    background-color: #f77a89;
    font-size: 15px;
}
.control #search:hover{
    background-color: #f55164;
}
li{
    list-style: none;
    position: relative;
    left: 110px;
    font-weight: 550;
    display: inline;
}
li a{
    text-decoration: none;
    border: solid;
    border-width: 1px;
    border-color: #08080836;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 15px;
    color: rgba(0, 0, 0, 0.671);
}
.control li a:hover{
    background-color: whitesmoke;
}
.control li a:active{
    transform: scale(0.0);
    color: none;
}